<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDPS</title>
    <link rel="stylesheet" href="static/css/css.css" />
    <link rel="stylesheet" href="static/css/analysis.css">
</head>

<body>
    <header class="header">
        <a href="#" class="logo text-decoration-none">Heart DP. <img src="static/img/logo.png" alt="" /></a>

        <nav class="navbar">
            <a href="{% url 'homepage'%}" class="active text-decoration-none">Back Home</a>
        </nav>
    </header>
    <section id="analysis">
        <div class="analysis">

            <div class="analysis-content">
                <div class="analysis-bg">
                    <img src="static/img/web.png" alt="">
                </div>
                <div class="articles">
                    <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h2>
                    <p>This diagram delineates a meticulously structured methodology aimed at evaluating the
                        effectiveness of a proposed approach for heart disease prediction, leveraging Kaggle datasets
                        and a sequence of analytical techniques. Beginning with data collection and preprocessing to
                        ensure data quality, the study progresses through Exploratory Data Analysis (EDA) to glean
                        insights into the dataset's composition and distribution. Feature engineering techniques,
                        including Principal Component Analysis (PCA) and L1 regularization (Lasso), are employed to
                        enhance model performance by identifying critical features. Subsequently, the datasets are
                        partitioned for model training and testing, followed by the development and optimization of
                        machine learning and deep learning models. Evaluation matrices such as accuracy, precision,
                        recall, F1-score, and ROC-AUC are utilized to assess model performance. The culmination of this
                        endeavor involves the construction of a web application using the Django framework, enhancing
                        accessibility and usability of the predictive model. This systematic approach underscores the
                        integration of data science methodologies with computational frameworks to address challenges in
                        heart disease prediction, offering a comprehensive framework for future research and application
                        in clinical settings.
                    </p>
                </div>

            </div>
            <hr style="
                    border: 0;
                    margin-top: 8rem;
                    border-bottom: 2px solid #4badd6;
                    font-weight: 600;">

            
        </div>
    </section>

</body>

</html>