
{% block content %}

    <center>
        <h2>Khadiza Wassi</h2>
    </center> <br>

    <hr>
    <a href="{% url 'dashboard'%}"><i class="fa-solid fa-disease"></i><span>Disease Prediction</span></a>
    <a href="#"><i class="fa-solid fa-notes-medical"></i><span>Prediction Report</span></a>
    <a href="{% url 'symptoms'%}"><i class="fa-solid fa-triangle-exclamation"></i><span>Symptoms</span></a>
    <a href="{% url 'prevention'%}"><i class="fa-solid fa-prescription-bottle-medical"></i><span>Prevention</span></a>
    <a href="{% url 'DoctorAndHospital'%}"><i class="fa-solid fa-hospital-user"></i><span>Doctor's &
            Hospitals</span></a>
    <a href="#"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a>


{% endblock %}