<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HDPS</title>
  <link rel="stylesheet" href="static/css/css.css" />
  <link rel="stylesheet" href="static/css/analysis.css">
  <link rel="stylesheet" href="static/css/respon.css">
  <!-- <link rel="stylesheet" href="\static\css\styles.css"/> -->

  <!-- ============Box Icons============ -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- <style>
    #analysis{
      background: white;
    }
  </style> -->

</head>

<body>
  <!-- ==========Header design=========== -->
  <header class="header">
    <a href="#" class="logo text-decoration-none">Heart DP. <img src="static/img/logo.png" alt="" /></a>


    <nav class="navbar">
      <a href="{% url 'homepage'%}" class="active text-decoration-none">Home</a>
      <a href="#analysis" class="text-decoration-none">Analysis</a>
      <a href="#about" class="text-decoration-none">About</a>
      <a href="#ourTeam" class="text-decoration-none">Our Team</a>

      <a href="{% url 'signin' %}" class="login-btn">Sign In</a>
    </nav>

  </header>


  <!-- ====== Home Page ======-->

  <section class="home" id="home">
    <div class="home-content">
      <h1>Heart Disease Prediction Using Machine Learning Algorithm</h1>

      <p>Heart Disease Prediction Using Machine Learning Algorithm revolutionizes healthcare by analyzing data for
        accurate risk assessment and proactive intervention, enhancing patient outcomes and optimizing healthcare
        practices.</p>

      <a href="{% url 'signin' %}" class="text-decoration-none"> % Predict Now</a>

    </div>

    <div class="home-content-bg">
      <img src="static/img/bg.svg" alt="Background Image">
    </div>

  </section>

  <section id="analysis">
    <div class="analysis">

      <div class="analysis-title">
        <h1>Model Analysis</h1>
      </div>

      <div class="analysis-content">
        <div class="analysis-bg">
          <img src="static/img/web.png" alt="">
        </div>
        <div class="articles">
          <h2>Model Analysis</h2>
          <p>This diagram delineates a meticulously structured methodology aimed at evaluating the effectiveness of a
            proposed approach for heart disease prediction, leveraging Kaggle datasets and a sequence of analytical
            techniques. Beginning with data collection and preprocessing to ensure data quality, the study progresses
            through Exploratory Data Analysis (EDA) to glean insights into the dataset's composition and distribution.
            Feature engineering techniques, including Principal Component Analysis (PCA) and L1 regularization (Lasso),
            are employed to enhance model performance by identifying critical features. Subsequently, the datasets are
            partitioned for model
          </p>
          <a href="{% url 'analysis' %}" class="see-more">See More</a>
        </div>

      </div>

    </div>

  </section>

  <!-- === About Section ==== -->
  <section id="about">
    <div class="about">

      <div class="details">
        <h1>About us</h1>
        <p>The system focuses on predicting heart disease using a user-centric approach. Users input symptoms and
          details, and the system uses MLP algorithms to assess risk. If positive, it offers proactive guidance on
          healthcare professionals and facilities, and tips for prevention and maintenance. If no heart disease is
          predicted, it assures the absence and quantifies the likelihood. Following the prediction, the system
          generates a comprehensive "Prediction Report," offering users a detailed overview of their health status. <br>
          <br>
          Any person with a browser and access to the internet can utilize the Heart Disease Prediction System. If you
          want to anticipate cardiac illness using HDPS, all you have to do is provide exact values for 13 various
          parameters that the algorithm asks about, such as age, sex, and so on. CDPS will then calculate the
          probability of developing heart disease. To preserve data for future use and receive help, sign up for the
          system that includes these capabilities.
        </p>

      </div>

      <div class="about-bg">
        <img src="static/img/bg.svg" alt="">
      </div>

    </div>
  </section>

  <section id="ourTeam">

    <div class="row">
      <div class="title">
        <h1>Our Team</h1>
        <p>Our team comprises dedicated individuals in every endeavor.</p>
      </div>
    </div>

    <div class="team-card">

      <div class="card">
        <div class="image-section">
          <img src="static/img/srksir.png" alt="Saidur Rahman Kohinoor">
        </div>
        <div class="team-content">
          <h3>Saidur Rahman Kohinoor</h3>
          <h4>Supervisor</h4>
          <p>Lecturer in the Department of CSE at Leading University, Sylhet, Bangladesh. Principal Investigator at
            InteX Research Lab. Currently serving as a Divisional Coordinator at the IEEE CS Bangladesh Chapter</p>
        </div>
      </div>

      <div class="card">
        <div class="image-section">
          <img src="static/img/mdJaman.png" alt="Jamaner Rahaman">
        </div>
        <div class="team-content">
          <h3>Md. Jamaner Rahaman</h3>
          <h4>Supervisor</h4>
          <p>Lecturer in the Department of Computer Science and Engineering at Leading University, Sylhet, Bangladesh.
            Investigator, InteX Research Lab. </p>
        </div>
      </div>

      <div class="card">
        <div class="image-section">
          <img src="static/img/khadiza.png" alt="Khadiza Akther">
        </div>
        <div class="team-content">
          <h3>Khadiza Akther</h3>
          <h4>Developer</h4>
          <p>Undergraduate student from the Department of Computer Science and Engineering, Leading University, Sylhet,
            Bangladesh. Also undergraduate research assistant at InteX Research Lab.</p>
        </div>
      </div>

      <div class="card">
        <div class="image-section">
          <img src="static/img/bushra.png" alt="Bushra Siddika Priya">
        </div>
        <div class="team-content">
          <h3>Bushra Siddika Priya</h3>
          <h4>Developer</h4>
          <p> Undergraduate student from the Department of Computer Science and Engineering, Leading University, Sylhet,
            Bangladesh. Also undergraduate research assistant at InteX Research Lab. </p>
        </div>
      </div>
    </div>

  </section>

  <!-- ===== Footer ===== -->
  <footer>
    <div class="footer">
      <div class="footer-content">
        <h2>Heart DP. <img src="static/img/logo.png" alt=""></h2>
        <p>Sylhet, Bangladesh.</p>
      </div>

      <div class="footer-content">
        <h2 class="footer-title">Navigation</h2>
        <div class="footer-navi">
          <div><a href="#home">Home</a></div>
          <div><a href="#analysis">Analysis</a></div>
          <div><a href="#about">About</a></div>
          <div><a href="#ourTeam">Our Team</a></div>
        </div>
      </div>

      <div class="footer-content">
        <h2 class="footer-title">Contact Info</h2>
        <p>heartpredictionsystem@gmail.com</p>
        <p>+8801688732682</p>
      </div>

    </div>
    <hr>
    <p class="copyright">Copyright © Heart DP. 2023</p>
  </footer>


  <!-- === Sticky Navbar === -->
  <!-- <script src="static/js/main.js"></script> -->
  <script>
    window.addEventListener('scroll', function () {
      var header = document.querySelector('.header')
      header.classList.toggle('sticky', window.scrollY > 0)
    })
  </script>


</body>

</html>