<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HDPS</title>
  <link rel="stylesheet" href="static/css/styles.css" />
</head>

<body>
  <!-- ==========Header design=========== -->
  <header class="header">
    <a href="#" class="logo text-decoration-none">Heart DP. <img src="static/img/logo.png" alt="" /></a>

    <nav class="navbar">
      <a href="" class="active text-decoration-none">Home</a>
      <a href="#" class="text-decoration-none">Analysis</a>
      <a href="#" class="text-decoration-none">About</a>
      <a href="#ourTeam" class="text-decoration-none">Our Team</a>

      <!-- onclick="window.location.href='login.html';" -->

      <a href="{% url 'dashboard' %}" class="login-btn">Sign In</a>


      <!-- <button class="login-btn" onclick="window.location.href='homepage.html';">Sign In</button> -->

      <button class="signup-btn">Sign Up</button>

    </nav>

  </header>


  <!-- ====== Home Page ======-->

  <section class="home" id="home">
    <div class="home-content">
      <h1>Heart Disease Prediction Using Machine Learning Algorithm</h1>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur quos dolor eos fugiat sint
        distinctio animi eveniet tempore soluta, accusantium eligendi quia explicabo accusamus odio aliquam
        officiis at dolore ab.</p>

      <a href="#" class="text-decoration-none"> % Predict Now</a>

    </div>

    <div class="home-content-bg">
      <img src="static/img/bg.svg" alt="Background Image">
    </div>

  </section>

  <!-- ===== Footer ===== -->
  <footer>
    <div class="footer">
      <div class="footer-content">
        <h2>Heart DP. <img src="static/img/logo.png" alt=""></h2>
        <p>Sylhet, Bangladesh.</p>
      </div>

      <div class="footer-content">
        <h2 class="footer-title">Navigation</h2>
        <div class="footer-navi">
          <div><a href="">Home</a></div>
          <div><a href="">Analysis</a></div>
          <div><a href="">Help</a></div>
          <div><a href="">Our Team</a></div>
        </div>
      </div>

      <div class="footer-content">
        <h2 class="footer-title">Contact Info</h2>
        <p>wassikhadiza@gmail.com</p>
        <p>+8801688732682</p>
      </div>

    </div>
    <hr>
    <p class="copyright">Copyright © Heart DP. 2023</p>
  </footer>


  <!-- === Sticky Navbar === -->
  <script type="text/javascript">
    window.addEventListener('scroll', function () {
      var header = document.querySelector('.header')
      header.classList.toggle('sticky', window.scrollY > 0)
    })
  </script>


</body>

</html>