<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css-link -->
    <!-- <link rel="stylesheet" href="static\css\signup.css"> -->

    <link rel="stylesheet" href="static\css\register.css">

    <style>
        .input-elements{
            position: relative;
        }
        .pass-icon{
            position: absolute;
            right: 12px;
            height: 18px;
            width: 24px;
            bottom: 16px;
            /* color: aqua; */
        }
    </style>
</head>

<body>
    <header>
        <section class="page-title">
            <!-- <img src="images/signup-signin-bg.png" alt=""> -->
            <div class="form-section">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <h1>Join <span class="heading-purple">Us</span></h1>

                    {% if messages %}
                    {% for message in messages %}
                    <span style="color: white;">{{ message }}</span>
                    {% endfor %}
                    {% endif %}

                    <div class="name-email">
                        <div class="input-elements">
                            <label for="username">User Name <span class="required-mark">*</span></label>
                            <input type="text" name="username" id="username" placeholder="Your Name" required>



                            <!-- {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %} -->
                            <!-- <span>{{ messages }}</span> -->

                        </div>
                        <div class="input-elements">
                            <label for="email">E-mail <span class="required-mark">*</span></label>
                            <input type="text" name="email" id="email" placeholder="E-mail" required>
                        </div>
                    </div>

                    <div class="security">
                        <div class="input-elements">
                            <label for="password1">Password <span class="required-mark">*</span></label>
                            <input type="password" name="password1" id="password1" placeholder="Password" required>

                            <img src="static\img\pass-hide.png" onclick="pass()" class="pass-icon" id="pass-icon">

                            <!-- {% if messages %}
                            {% for message2 in messages %}
                            <span>{{ message2 }}</span>
                            {% endfor %}
                            {% endif %} -->
                        </div>
                        <div class="input-elements">
                            <label for="password2">Confirm Password <span class="required-mark">*</span></label>
                            <input type="password" name="password2" id="password2" placeholder="Password Again"
                                required>

                            <img src="static\img\pass-hide.png" onclick="pass1()" class="pass-icon" id="pass-icon1">
                            
                            <!-- {% if messages %}
                            {% for message3 in messages %}
                            <span>{{ message3 }}</span>
                            {% endfor %}
                            {% endif %} -->
                        </div>
                    </div>

                    <small style="color: white;">Have An Account? <span id="purple-signin"><a href="{% url 'signin' %}"
                                style="color: white; text-decoration: none;">Sign In</a></span></small>

                    <button type="submit" class="btn-primary" id="submit">Submit</button>
                </form>
            </div>
        </section>
    </header>

    <script src="static\js\pass.js"></script>
    <script src="static\js\pass1.js"></script>

</body>

</html>