<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="static/css/fogot1.css">
</head>

<body>
    <section class="reset-pass-done">
        <div class="password-sent">
            <p>Your password has been successfully set. You may now proceed to <a href="{% url 'signin' %}" class="back-login">Sign In</a></p>
        </div>
    </section>
</body>
</html>