<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="static/css/fogot1.css">
    <style>
        .input-elements {
            position: relative;
        }

        .pass-icon {
            position: absolute;
            right: 12px;
            height: 18px;
            width: 24px;
            bottom: 16px;
            /* color: aqua; */
        }
    </style>
</head>

<body>
    <section class="reset-pass-done">
        <div class="password-sent">
            <h2 style="margin-bottom: 1rem;">Change Password</h2>
            <form action="" class="form" method="POST">
                <div class="security">
                    <div class="input-elements">
                        <label for="password1">New Password <span style="color: #f5483b;">*</span></label>
                        <input type="password" name="password1" id="password1" placeholder="Password" required>

                        <img src="static\img\eyeon.png" onclick="resetpass()" class="pass-icon" id="pass-icon">
                    </div>
                    <ul>
                        <li>Password must contain at least 8 characters.</li>
                        <li>Your password can't be entirely numeric.</li>
                        <li>Your password can't be a commonly used password.</li>
                    </ul>
                    <div class="input-elements">
                        <label for="password2">Repeat Password <span style="color: #f5483b;">*</span></label>
                        <input type="password" name="password2" id="password2" placeholder="Repeat Password" required>

                        <img src="static\img\eyeon.png" onclick="resetpass1()" class="pass-icon" id="pass-icon1">
                    </div>
                </div>
                <button type="submit" class="btn-reset" id="reset-pass">Change password</button>
            </form>
        </div>
    </section>

    <script src="static/js/main.js"></script>
</body>

</html>