<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="static/css/fogot1.css">
</head>

<body>
    <section class="reset-pass-done">
        <div class="password-sent">
            <h2>Password Reset</h2>
            <p style="margin-bottom: 2rem;">Forgot your password? Enter your email below, we'll send instructions for setting a new one.</p>
            <form action="" class="form" method="POST">
                <div class="input-elements">
                    <label for="email">E-mail <span style="color: #f5483b;">*</span></label>
                    <input type="email" name="email" id="email" placeholder="name@example.com" required>
                </div>
                <button type="submit" class="btn-reset" id="reset">Reset my password</button>
            </form>
        </div>
    </section>
</body>

</html>