<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HDPS</title>
    <link rel="stylesheet" href="static/css/forgot.css">
</head>

<body>
    <section class="reset-pass-done">
        <div class="password-sent">
            <h2>Password Reset Sent</h2>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you <br>
                entered. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you have entered the address you registered with, <br> and
                check your spam folder.</p>
        </div>
    </section>
</body>

</html>