@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
:root {
    --text-color: #6C87AE;
    --gradient-1: #1678F2;
}

.prediction-form{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.age-sex-cp,
.trestbps-chol-fbs,
.restecg-thalach-exang,
.oldpeak-slope-ca
 {
    display: flex;
    gap: 70px;
}
.input-elements {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 270px;
}
.input-elements label {
    font-weight: 600;
    font-size: 16px;
}

.required-mark {
    color: #f5483b;
}

.input-elements input {
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #292930;
    border-radius: 8px;
    /* border: 2px solid #adade9 ; */
    outline: none;
}
.input-elements input:focus {
    outline: 2px solid #4747a1;
}

.btn-primary {
    background: linear-gradient(141deg, #3A8EF6 0%, #6F3AFA 100%);
    padding: 12px 0;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 130px;
    margin-bottom: 3rem;
}
.btn-primary:hover {
    background: #F2F7FF;
    color: var(--gradient-1, linear-gradient(141deg, #3A8EF6 0%, #6F3AFA 100%));
    border: 2px solid #4747a1;
}