@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Sora:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {

    --bg-color: #F2F7FF;
    --footer-bg-color: #0A0E31;
    --text-color: #6C87AE;
    --gradient-1: #1678F2;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: #3A8EF6;
    font-weight: 600;
}

.header img {
    width: 1.6rem;
    height: 1.6rem;
    margin-bottom: 1rem;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3rem;
    transition: .3s;
}



/* ===== Main Content ===== */

.data {
    height: 100vh;
    margin-left: 290px;
    padding-top: 10rem;
    margin-right: 3rem;
    font-size: 1.9rem;
}


/* ===== Sidebar ==== */
.side-menu {
    position: fixed;
    background: linear-gradient(141deg, #3A8EF6 0%, #6F3AFA 100%);
    width: 250px;
    height: 100%;
    margin-top: 75px;
}

/* .side-menu center img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-top: 50px;
    border: 3px solid rgb(0, 0, 0);
} */

.side-menu center h2 {
    margin-top: 50px;
    color: white;
    font-size: 2rem;
    padding-bottom: 7rem;
}

.side-menu a {
    display: block;
    line-height: 50px;
    transition: 0.5s;
}

.side-menu a:hover {
    
    background: #3A8EF6;
    padding-left: 20px;
    color: #F2F7FF;
    
}
/* .side-menu span:hover{
    color: #F2F7FF;
} */
.side-menu span {
    font-size: 1.6rem;
    margin-left: 20px;
    font-weight: 600;
    color: white;
}

.side-menu i {
    font-size: 19px;
    margin-left: 19px;
    color: white;
}

/* nav .menu-bar {
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
} */
/* 
#menu {
    display: none;
} */



/* @media (max-width:850px) {
    .side-menu a span {
        display: none;
    }

    .side-menu center {
        display: none;
    }

    .side-menu {
        width: 100px;
    }

    .side-menu a i {
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
    }

    .data {
        margin-left: 100px;
    }
}

@media (max-width:650px) {
    .data {
        display: none;
    }

    nav ul {
        display: none;
    }

    .side-menu {
        width: 100%;
        text-align: center;
        left: 100%;
        background-color: #4c516d;
        transition: all 0.5s;
    }

    .side-menu a i {
        display: none;
    }

    .side-menu a span {
        display: block;
    }

    .side-menu .Logout {
        display: block;
    }

    nav .menu-bar {
        display: block;
    }
}

#menu:checked~.side-menu {
    left: 0;
} */
